<ion-view class="salesreportView" view-title="<i class='icon {{item.icon}}'></i> {{item.title}}">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title"><i class="icon ion-ios-barcode"></i> {{sales_model.imei_no}} </h2>
    </div>
    <ion-content class="animated slideInUp padding has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card" ng-show="error_message">
            <div class="item item-divider item-assertive">
                <i class="icon ion-bug"></i>
                Error
            </div>
            <div class="item item-text-wrap">
                <b ng-bind="message"></b>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider item-royal">
                <i class="icon ion-bag"></i>
                Product Name
            </div>
            <div class="item item-text-wrap">
                {{sales_model.product_name}}
            </div>
            <div class="item item-divider item-dark">
                <i class="icon ion-planet"></i>
                Product Model Name
            </div>
            <div class="item item-text-wrap">
                {{sales_model.product_model_name}}
            </div>
            <div class="item item-divider item-dark">
                <i class="icon ion-ipad"></i>
                Product Model Code
            </div>
            <div class="item item-text-wrap">
                {{sales_model.product_model_code}}
            </div>
            <div class="item item-divider item-dark">
                <i class="icon ion-cash"></i>
                Price
            </div>
            <div class="item item-text-wrap">
                {{sales_model.price}}
            </div>
            <div class="item item-divider item-dark">
                <i class="icon ion-ios-calendar-outline"></i>
                Sales Date
            </div>
            <div class="item item-text-wrap">
                {{sales_model.sales_date}}
            </div>
        </div>

    </ion-content>
</ion-view>
