<ion-view class="stockreportView" view-title="<i class='icon {{item.icon}}'></i> {{item.title}}">
    <div class="bar bar-subheader bar-calm">
        <h2 class="title"><i class="icon ion-ios-barcode"></i> Barcode Scanner </h2>
    </div>
    <ion-content class="animated slideInUp padding has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        
        <div class="card" ng-show="error_message">
            <div class="item item-divider item-assertive">
                <i class="icon ion-bug"></i>
                Error
            </div>
            <div class="item item-text-wrap">
                <b ng-bind="message"></b>
            </div>
        </div>
        
        <div class="card" ng-show="success_message">
            <div class="item item-divider item-balanced">
                <i class="icon ion-checkmark-circled"></i>
                Success
            </div>
            <div class="item item-text-wrap">
                <b ng-bind="message"></b>
            </div>
        </div>
        
        <div class="card" ng-hide="stock_item">
            <div class="item item-divider item-royal">
                <i class="icon ion-camera"></i>
                How to scan?    
            </div>
            <div class="item item-text-wrap">
                Please tap on the camera icon at the right bottom corner to start scanning barcode. 
            </div>
        </div>
        <div class="card" ng-show="scanned_imei">
            <div class="item item-divider item-royal">
                <i class="icon ion-ios-barcode"></i>
                Scanned IMEI Number  
            </div>
            <div class="item item-text-wrap">
                {{imei_no}}
            </div>
        </div>
        <div class="list card" ng-show="stock_item">

            <div class="item item-icon-left">
                <i class="icon ion-ios-barcode"></i>
                {{stock_model.imei_no}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-bag"></i>
                {{stock_model.product_name}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-planet"></i>
                {{stock_model.product_model_name}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-ipad"></i>
                {{stock_model.product_model_code}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-android-color-palette"></i>
                {{stock_model.product_color}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-cash"></i>
                {{stock_model.lifting_price}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-pricetag"></i>
                {{stock_model.rrp}}
            </div>

        </div>

        <form ng-submit="submit()">
            <input type="hidden" name="imei_no" placeholder="imei_no" ng-model="stock_imei_no">
            <button class="button button-block button-royal" ng-show="stock_item">
                Confirm
            </button>
        </form>

    </ion-content>
    <div class="float-button" ng-click="scanBarcode()">
        <span class="height-fix">
            <a class="content">
                <i class="icon ion-camera"> </i>
            </a>
        </span>
    </div>
</ion-view>
