<ion-view class="salesreportView" view-title="<i class='icon {{item.icon}}'></i> {{item.title}}">
    <ion-content class="animated slideInUp">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list option-buttons="itemButtons" can-swipe="true">
            <label class="item item-divider">
                <i class="icon ion-ios-list-outline"></i> Last 50 IMEI Number
            </label>
            <ion-item class="item item-assertive" ng-if="error_message == true">
                <i class="icon ion-bug"></i>
                <b ng-bind="message"></b>
            </ion-item>
            <ion-item ng-repeat="sales in sales_model" item="item" item-type="item item-icon-left">
                <i class="icon ion-ios-barcode"></i>
                {{ sales.imei_no}}
                <ion-option-button class="button button-positive" ng-click="viewSales(sales.imei_no)"> <i class="icon ion-eye"></i> </ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
